*{
    margin: 0;
    padding: 0;
}
.main{
    text-align: center;
    align-items: center;
    padding: 1rem;
}


.calculator{
    height: 38rem;
    width: 30rem;
    background-color: rgb(81, 92, 92);
    margin: 0 auto;
    padding-top: 2rem;
    
}
 #display {

    height: 3rem;
    width: 25rem;
    text-align: right;
    font-size: 3rem;
    float: right;
    border: none;
} 
#side {

    height: 3rem;
    width: 25rem;
    text-align: right;
    font-size: 1rem;
    float: right;
    border: none;
} 

.display {
    margin: 0 auto;
    height: 5.5rem;
    width: 25rem;
    color: white;
    margin-bottom: 1rem;


    

}
.row button{
    width: 5rem;
    height: 5rem;
    margin: .2rem;
    font-size: 2rem;
    border-radius: .5rem;
}
.option button{
    background-color: tomato;
    height:5rem ;
    width: 11rem;
    font-size: 2rem;
    border-radius: .5rem;
    margin: .2rem;

}